html {
  height: 100%;
}

body {
  font-size: 24px;
  color: #fff;
  background-image: url(https://images2.alphacoders.com/597/597309.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50%;
  position: relative;
  height: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 1;
}
body::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
section {
  display: inline-block;
  vertical-align: middle;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 60px;
  margin-top: 160px;
  max-width: 500px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: GreenYellow;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: blue;
}
.one {
  display: none;
  font-family: 'Merienda One',cursive;
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
}
.one vis {
  font-family: 'Merienda One',cursive;
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
}
.two {
  display: none;
  font-family: 'Merienda One',cursive;
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
}
.two vis {
  font-family: 'Merienda One',cursive;
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
}
.three {
  display: none;
  font-family: 'Merienda One',cursive;
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
}
.three vis {
  font-family: 'Merienda One',cursive;
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
}
.four {
  display: none;
  font-family: 'Merienda One',cursive;
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
}
.four vis {
  font-family: 'Merienda One',cursive;
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
}
.five {
  display: none;
  font-family: 'Merienda One',cursive;
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
}
.five vis {
  font-family: 'Merienda One',cursive;
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
}
.six {
  display: none;
  font-family: 'Merienda One',cursive;
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
}
.six vis {
  font-family: 'Merienda One',cursive;
  font-size: 2em;
  font-style: normal;
  font-weight: 100;
}
